<section id="about" class="container col-12 col-lg-10 my-5 mx-auto">
    <p class="fs-5 text-center">Get to know more</p>
    <h1 class="fw-bold text-center">About Me</h1>
    <div class="row mt-4">
      
      <div class="col-12 col-lg-12 d-flex flex-column justify-content-center align-items-center">
        <div class="row w-100">
          <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
            <div class="about-card card w-100 border-black">
              <div class="card-body text-center">
                <i class="fa fa-award fa-2x icon"></i>
                <h3 class="fw-bold about-subtitle">Experience</h3>
                <p class="card-text">
                  {{ getExperienceYears() }}+ years of experience
                  <br>in Software Development with
                  <br>focus on Angular and ASP.Net Core
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
            <div class="about-card card w-100 border-black">
              <div class="card-body text-center">
                <i class="fa fa-laptop-code fa-2x icon"></i>
                <h3 class="fw-bold about-subtitle">Specialized In</h3>
                <p class="card-text">
                  Angular<br>ASP.Net Core<br>Relational DBs<br>Document DBs<br>Unity 3D<br>Industries: AEC | BIM | Business optimisations
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 text-center mt-3">
          <p>
            I'm Venelin, a Software Developer, based in Pleven, Bulgaria. At my current position, I work extensively with Angular and ASP.NET Core, developing modern, dynamic web applications. With over 8 years of developer experience, I have a strong background in 3D software development, coupled with backend expertise in ASP.NET Core. Throughout my career, I’ve also expanded into frontend development with Angular and Vue, successfully delivering projects that solve complex real-world problems. I bring a combination of technical proficiency, leadership skills, and a commitment to continuous learning
          </p>
        </div>
      </div>
    </div>
    
  </section>