<div class="row text-center">
    <div class="col-md-8 d-flex flex-column justify-content-between">
      <p>
        <span> <i [class]="project.icon"></i></span>
        {{ project.description }}
      </p>
      <div class="btn-container pt-1 mb-3">
        <a [href]="project.link || null" target="_blank">
          <button class="bt btn-color-1 project-btn" [disabled]="!project.link">
            {{ project.link ? 'Github' : 'Under Construction' }}
          </button>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <p>Built with</p>
      <ul class="text-decoration-none list-unstyled">
        @for (item of project.technologies; track item) {
          <li class="list-item">
            {{ item }}
          </li>
        }
      </ul>
    </div>
  </div>
