<section id="projects" class="col-10 col-md-8 col-xl-8 mx-auto">
  <p class="fs-5 text-center">Browse my recent</p>
  <h1 class="fw-bold text-center mb-5">Projects</h1>

  <div id="projectsCarousel" class="carousel carousel-dark slide my-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let project of projects; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
        <app-project-item [project]="project"></app-project-item>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#projectsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projectsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>