<section id="projects" class="col-12 col-md-8 col-xl-8 mx-auto">
    <p class="fs-5 text-center">Browse my recent</p>
    <h1 class="fw-bold text-center mb-5">Projects</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item" *ngFor="let project of projects; let i = index">
        <h2 class="accordion-header">
          <button class="accordion-button project-name"
                  type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + i" aria-expanded="true"
                  [attr.aria-controls]="'collapse' + i"
                  (click)="setAccordionIndex(i)">
            <h4 class="my-2" [ngClass]="{'project-name-open': i === openAccordionIndex}">{{ project.name }}</h4>
          </button>
        </h2>
        <div [id]="'collapse' + i" class="accordion-collapse collapse"
             [ngClass]="{'show': i === 0}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-project-item [project]="project" />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <i class="fa fa-angles-down fa-2x pointer" (click)="scrollTo('contacts')"></i>
    </div>
  </section>
