@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F7F2;
}

html {
  scroll-behavior: smooth;
}

p, .subtitle {
  color: rgb(85,85,85);
}

.container-card {
  width: 100%;

  @media (min-width: 750px) {
    width: 700px;
  }
}

.icon {
  color: black;
}

i.pointer {
  cursor: pointer;
}

/* Buttons */
$border-color: rgb(53, 53, 53);
$hover-color: white;
$hover-background: rgb(53, 53, 53);

.bt {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.8rem;
  width: 10rem;
  border-radius: 2rem;
  border: $border-color 0.1rem solid;

  &:hover {
    cursor: pointer;
    color: $hover-color;
  }
}

.btn-color-1 {
  &:hover {
    background: rgb(0, 0, 0);
  }
}

.btn-color-2 {
  background: none;

  &:hover {
    background: $hover-background;
    border-color: $hover-color;
  }
}