

  
  .checkmark {
    height: 1rem;
  }
  
  .level {
    margin-left: 1.2rem;
    font-size: 0.8rem;
  }
  
  .item {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .experience-subtitle {
     color: rgb(85, 85, 85);
     font-weight: 600;
     font-size: 1.75rem;
     margin: 2rem 0;
   }
  